<% @comments.each do |comment| %>
  <h1><%=comment.title%></h1>
  <p><%=comment.content%></p>
<% end %>

<h3>Add comment</h3>
<%= form_tag(comments_path, method: "post") do %>
  <input name='title' placeholder='Title'><br />
  <textarea name='content' placeholder='Comment'></textarea>
  <input type='submit' value='Save' />
<% end %>