<div id="comments_container">
  <% @comments.each do |comment| %>
    <div class='comment'>
      <h1><%=comment.title%></h1>
      <p><%=comment.content%></p>
    </div>
  <% end %>
</div>

  <script type="text/template" id="comment_template">
    <div class="comment">
      <h1><%%- title %></h1>
      <p><%%- content %></p>
    </div>
  </script>

<h3>Add comment</h3>
<%= form_tag(comments_path, method: "post") do %>
  <input name='title' placeholder='Title'><br />
  <textarea name='content' placeholder='Comment'></textarea>
  <input type='submit' value='Save' />
<% end %>